<div class="container">
  <h1>Stupid coaching : ask</h1>

  <div class="banner">
    <form action="/answer" method="get">
      <input type="text" name="question" value="<%= params[:question] %>" placeholder="Say something to your coach">
      <input type="submit" value="Ask!">
    </form>
  </div>

</div>
